body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #151515;
}
  main {
    flex: 1 0 auto;
  }
      
header {
    height: 100px;
}
 header nav {
     height: 100px;
     background: #a8002a;
     box-shadow: black;
 }

 h1 {
     color: white;
 }
 
 h2 {
     color: white;
 }

 .home-p {
     color: white;
     font-size: 20px;
 }
 
 footer.page-footer {
    background: #a8062f;
    bottom: 0;
}