body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #151515;
}
  main {
    flex: 1 0 auto;
  }
      
header {
    height: 100px;
}
 header nav {
     height: 100px;
     background: #a50029;
     box-shadow: black;
 }
 nav .brand-logo {
     height: 100px;
     left: 1%;
 }

 header nav ul {
     height: 100px;
 }
 header ul a {
    color: white;
 }

 h1 {
     color: white;
 }
 
 footer.page-footer {
    background: #ee104760;
    bottom: 0;
}