<section class="banner">
    <div class="banner-content">
        <h1>Bienvenid@</h1>
        <p class="home-p">Me enfoco en desarrollo web, principalmente en tecnolog&iacute;as Backend. <br />
            Algunos lenguajes de programaci&oacute;n que utilizo como herramientas son Nodejs y Python.</p>
        <a href="https://www.linkedin.com/in/leonardo-caicedo-2aa269211/">ver linkedin</a>
    </div>
</section>