<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo center">Leonardo Caicedo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>
</header> 