<header>
    <nav>
        <a href="#" class="brand-logo right">Leonardo Caicedo</a>
        <ul class="right valign-wrapper">
            <li><a class="btn" href="registro.html">Contacto</a></li>
        </ul>
    </nav>
</header>